header {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  margin-top: 1rem;
}
ul {
  display: flex;
  gap: 1rem;
}

.heading-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1.5rem;
  gap: 0.5rem;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}
